*{
    font-size: 18px;
}
body{
    background-color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
}
div.contenido{
    margin: 0 auto;
    width: 80%;
}

.cuento{
    color: navy;
    text-align: justify;
}
/*Se ponen diferentes tipos de fuentes*/
.parrafo1{
font-family: "Courier New", monospace;
}
.parrafo2{
font-family: Verdana, Geneva, sans-serif;
}
.parrafo3{
font-family: Georgia, "Times New Roman", Times, serif;
}

/*afectal a los elementos con id autor y julio*/
div.autor{
    font-style: italic;
}

p.julio{
    font-size: 14px;
}